@charset "utf-8";
#body_para  {
	text-align: center;
	
}
#body_h2 {
	text-align: center;
	background-color: #E5EB10;
}
#table {

}


#body_h1 {
	text-align: center;
	background-color: #E5EB10;
}
#header {
	color: #fefffd;
	background-color: #000000;
	border: thick groove #FFFFFF;
	text-align: center;
}
#read_more {
	text-align: center;
}

#body {
	margin-left: 200px;
	margin-right: 200px;
	background-color: #FFFFFF;
	padding-left: 50px;
	padding-right: 50px;


}
#nav {
	color: #FFFFFF;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: center;
}

#footer {
	color: #FFFFFF;
	border: thick groove #FFFFFF;
	text-align: center;
}

#background {
	background-color: #000000;
}
