#body{
	margin-left: 20%;
	margin-right: 20%;
	color: #000000;
	background-color: #000000;
}
#text {
	color: #FFFFFF;
}

#header{
	padding-bottom: 10px;
	width: 100%;
	color: #000000;
	background-color: #000000;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	border: thick groove #FFFFFF;
}

#sideBar{
	height: 1000px;
	float: left;
	padding-left: 5px;
	padding-right: 10px;
	color: #C7C004;
}

#mainText{
	padding-left: 5px;
	color: #FFFFFF;
	text-align: center;
}
