body{
	color: #000000;
	background-color: #FF0004;
}

.header{
	color: #fefffd;
	background-color: #000000;
	border: thick groove #FFFFFF;
	text-align: center;

}

.sidebar {
	color: #000000;
	background-color: #C7C004;
}

.content{
    color: #003cff
}

.footer {
	color: #FFFFFF;
	border: thick groove #FFFFFF;
	text-align: center;
}

.nav{
	color: #FFFFFF;
	padding-bottom: 5px;
	padding-top: 5px;
}


